.progressContainer {
  max-height: 50vh;
  overflow: auto;
  position: relative;
}

.progressBar {
  position: sticky;
  height: 5px;
  top: 0;
  background: #ebebeb;
}

.progressBar span {
  height: 100%;
  display: block;
  background: blue;
}
